/*** CUSTOMIZATIONS ***/

:root {
	--text: white;
	--highlight: #d417ff;
	--background: #181818;
	--selection: #4075df;
	--title: #ff3729;
}

::selection {
  color: var(--selection);
}

body {
	font-family: 'Poppins', 'Arial', sans-serif;
	background: var(--background);
}

h1, h3 {
	font-family: "Bai Jamjuree", 'Arial', sans-serif;
}

p {
	color: rgb(255, 255, 255, 0.8);
	font-size: 16px;
	line-height: 150%;
}

section {
  padding: 30px 0;
	color: var(--text);
	margin-bottom: 100px;
}

.section-heading {
	font-family: "Bai Jamjuree", 'Arial', sans-serif;
	text-align: center;
	font-size: 48px;
	font-weight: 600;
	color: var(--title)
}

.section-heading span {
	background-color: rgb(255, 255, 255, 0.04);
	padding: 5px 30px 5px;
}

.sub-title {
	font-family: "Bai Jamjuree", 'Arial', sans-serif;
	font-size: 24px;
	margin: 30px auto 10px;
}

@media (max-width: 450px) {
	.section-heading {
		font-size: 36px;
	}

	.sub-title {
		font-size: 20px;
		text-align: center;
	}
}

span.highlighted {
	background-color: rgb(255, 255, 255, 0.04);
	padding: 3px 15px 3px;
}

.special-text {
	font-size: clamp(38px, 5vw, 72px);
	background: linear-gradient(to bottom right, #63CAF6, #2067F1); 
	-webkit-text-fill-color: transparent; 
	background-clip: text; 
	font-weight: 600;
}

/*** GOOGLE MATERIAL DESIGN ICON ***/

.material-symbols-outlined.help{
	font-size: 18px;
}

.material-symbols-outlined.info{
	font-size: 13px;
}

/*** BUTTONS ***/

.button {
	background: none;
	padding: 15px 50px 15px;
	border: solid white 1.5px;
	border-radius: 999px;
	color: white;
	font-weight: 400;
	font-size: 32px;
}

.button:hover {
	border: var(--selection);
	background: var(--selection);
}

@media (max-width: 450px) {
	.button {
		background: none;
		padding: 12.5px 40px 12.5px;
		border: solid white 1.5px;
		border-radius: 999px;
		color: white;
		font-weight: 300;
		font-size: 20px;
	}
}


/** HERO **/

#home {
	height: clamp(600px, 100vh, 1620px);
	margin-bottom: 0px !important;
}

.hero-title {
	font-size: 86px;
	font-weight: 700;
	color: var(--title);
}

.hero-sub-title {
	font-size: 24px;
	font-weight: 300;
	line-height: 150%;
}

@media (max-width: 450px) {
	.hero-title {
		font-size: 48px;
	}

	#home .container h2 {
		font-size: 16px;
		max-width: 235px;
		margin: 15px auto;
	}
}

/*** ABOUT ***/

.faq-help {
	font-weight: 600;
	font-size: 20px;
}